$colors-light: (
	bg-main: #e3edf7,
	bg-card-start: #ffffff,
	bg-card-end: #d8e5f2,
	bg-btn: #ffffffb3,
	bg-btn-active: #ebf2fae6,
	text-btn: #5a6e85,
	text-history: #7a8b9e,
	text-result: #1a2536,
);

$colors-dark: (
	bg-main: #0b0e14,
	bg-card-start: #1e232b,
	bg-card-end: #111419,
	bg-btn: #21262e,
	bg-btn-active: #2b323d,
	text-btn: #a0aab5,
	text-history: #677380,
	text-result: #ffffff,
);

$colors-general: (
	color-accent: #1081e0,
	color-accent-active: #0d6ec2,
);

$font-primary: Comfortaa;
