$colors-light: (
	light-bg-main: #e3edf7,
	light-bg-card-start: #ffffff,
	light-bg-card-end: #d8e5f2,
	light-bg-btn: #ffffffb3,
	light-bg-btn-active: #ebf2fae6,
	light-text-btn: #5a6e85,
	light-text-history: #7a8b9e,
	light-text-result: #1a2536,
);

$colors-dark: (
	dark-bg-main: #0b0e14,
	dark-bg-card-start: #1e232b,
	dark-bg-card-end: #111419,
	dark-bg-btn: #21262e,
	dark-bg-btn-active: #2b323d,
	dark-text-btn: #a0aab5,
	dark-text-history: #677380,
	dark-text-result: #ffffff,
);

$colors-general: (
	color-accent: #1081e0,
	color-accent-active: #0d6ec2,
);
